    .banner {
        color: white;
        object-fit: contain;
        height: 80vh;
    }
    
    .banner-contents {
        margin-left: 30px;
        padding-top: 200px;
        transition: 1s;
    }
    
    .banner-title {
        font-size: 3rem;
        padding-bottom: 1rem;
    }
    
    .banner-description {
        width: 45rem;
        line-height: 1.3;
        padding-top: 1rem;
        font-size: 1rem;
        max-width: 400px;
        height: 80px;
    }
    
    .banner-button {
        cursor: pointer;
        color: #fff;
        outline: none;
        border: none;
        font-weight: 700;
        border-radius: 0.2vw;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: rgba(51, 51, 51, .5);
    }
    
    .banner-button:hover {
        color: #000;
        background-color: #e6e6e6;
        transition: all 0.2s;
    }
    
    .banner-fade-bottom {
        height: 80vh;
        background-image: linear-gradient( 270deg, transparent, rgba(37, 37, 37, 0.123), #111);
    }
    
    a {
        text-decoration: none;
    }
    
    @media only screen and (max-width: 600px) {
        .banner-contents {
            margin-left: 10px;
            padding-top: 7rem;
        }
        .banner-title {
            font-size: 2rem;
            padding-bottom: 0.5rem;
        }
        .banner-description {
            padding-top: 1rem;
            font-size: 1rem;
            max-width: 90%;
        }
        .banner-fade-bottom {
            height: 60vh;
            background-image: linear-gradient( 270deg, transparent, rgba(37, 37, 37, 0.562), #111);
        }
        .banner {
            height: 60vh;
        }
    }